<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title></title>
  </head>

  <link rel="stylesheet" href="css/style.css" />
<body>
    <div class="modal">
        <form class="modal__form">
             <label>Name</label>
        <input type="text" class="name"/>
        
        <label>username</label>
        <input type="text" class="userName"/>
        <label>password</label>
        <input type="password" class="password"/>

        <button class="btn submit">Submit</button>

        </form>

    </div>
     <script src="js/addEmployee.js"></script>
</body>
  </html>