<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title></title>
  </head>

  <link rel="stylesheet" href="css/style.css" />

  <body>
    <div class="modal">
      <!-- <button class="btn--close-modal">&times;</button> -->
      <h2 class="modal__header">Sign in</h2>
      <form class="modal__form">
        <label>id</label>
        <input
          type="text"
          placeholder="username"
          class="login__input login__input--user"
        />
        <label>password</label>
         <input
          type="text"
          placeholder="PIN"
          maxlength="10"
          class="login__input login__input--pin"
        />
        <button class="loginBtn">LogIn &rarr;</button>
      </form>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>