<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="css/style.css" />
        <body>

            <div class="header" >
                <h1>Welcome <span id="name">Diljeet</span></h1>
            </div>
             <main class="app">
             <div class="content">
        <h1 style="text-align: center" class="headingEmp">Schedule Week</h1>

        <div class="yearAndMonth">
          <div>Year: <span class="year"> 2021</span></div>
          <div>Month: <span class="month"> January</span></div>
        </div>

         <table class="weekTable">
          {{>main}}

          <tr class="td1">
            <td colspan="7" style="text-align: center;">
              <button
                class="choose choose1"
                id="c1"
              >
                Choose the employees
              </button>
            </td>
          </tr>

          {{>footmain}}
            
          </table>

          <div class="divButton"><button class="donebtn">Done</button></div>
        </div>

         <div class="divButton"><button class="options">More Optioins</button></div>
        </main>

         <div class="modal hidden">
      <button class="btn--close-modal">&times;</button>
      <h2 class="modal__header">
        Select your action
      </h2>
      <form class="modal__form">
        <button class="addBtn btn">Add Employee &rarr;</button>
        <button class="removeBtn btn">Remove Employee</button>
      </form>
    </div>

        <script  type="module" src="js/manager.js"></script>
        </body>
    </head>
</html>