<tr class="data" id="data1">
            <td>
              <div class="employeesAva c1"></div>
            </td>

            <td>
              <div class="employeesAva c2"></div>
            </td>

            <td>
              <div class="employeesAva c3"></div>
            </td>

            <td>
              <div class="employeesAva c4"></div>
            </td>

            <td>
              <div class="employeesAva c5"></div>
            </td>
            <td>
              <div class="employeesAva c6"></div>
            </td>
            <td>
              <div class="employeesAva c7"></div>
            </td>
          </tr>